/**
 * Layouts: Align and Justify
 * @version 1.0.00
 * @summary 06-19-2022
 * @author Mads Stoumann
 * @description Modifier-classes for handling `align-content`, `justify-content` and `text-align`
*/
[class*="ly-ac-"] { align-content: var(--_ac, normal); }
.ly-ac-bal { --_ac: baseline; }
.ly-ac-fib { --_ac: first baseline; }
.ly-ac-lab { --_ac: last baseline; }
.ly-ac-cen { --_ac: center; }
.ly-ac-end { --_ac: end; }
.ly-ac-fle { --_ac: flex-end; }
.ly-ac-fls { --_ac: flex-start; }
.ly-ac-spa { --_ac: space-around; }
.ly-ac-spb { --_ac: space-between; }
.ly-ac-spe { --_ac: space-evenly; }
.ly-ac-sta { --_ac: start; }
.ly-ac-str { --_ac: stretch; }

[class*="ly-jc-"] { justify-content: var(--_jc, normal); }
.ly-jc-cen { --_jc: center; }
.ly-jc-end { --_jc: end; }
.ly-jc-fle { --_jc: flex-end; }
.ly-jc-fls { --_jc: flex-start; }
.ly-jc-lft { --_jc: left; }
.ly-jc-rgt { --_jc: right; }
.ly-jc-spa { --_jc: space-around; }
.ly-jc-spb { --_jc: space-between; }
.ly-jc-spe { --_jc: space-evenly; }
.ly-jc-sta { --_jc: start; }
.ly-jc-str { --_jc: stretch; }

[class*="ly-ta-"] { text-align: var(--_ta, inherit); }
.ly-ta-cen { --_ta: center; }
.ly-ta-end { --_ta: end; }
.ly-ta-jus { --_ta: justify; hyphens: auto; }
.ly-ta-jua { --_ta: justify-all; hyphens: auto; }
.ly-ta-lft { --_ta: left; }
.ly-ta-map { --_ta: match-parent; }
.ly-ta-rgt { --_ta: right; }
.ly-ta-sta { --_ta: start; }